[submodule "FocalEngine"]
	path = SubSystems/FocalEngine
	url = https://github.com/Azzinoth/FocalEngine
[submodule "VisualNodeSystem"]
	path = SubSystems/NodeSystem/VisualNodeSystem
	url = https://github.com/Azzinoth/VisualNodeSystem
