[submodule "FocalEngine"]
	path = SubSystems/FocalEngine
	url = https://github.com/Azzinoth/FocalEngine
[submodule "FEVisualNodeSystem"]
	path = SubSystems/NodeSystem/FEVisualNodeSystem
	url = https://github.com/Azzinoth/FEVisualNodeSystem
